.square {
  width: 100px;
  height: 100px;
  margin-top: -1px;
  margin-right: -1px;
  padding: 0;
  border: 1px solid #999;
  background-color: #fff;
  font-size: 36px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  float: left;
}
